/* debug */

/* /debug */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 30px auto;
}

/* header */
#logo-container {
    height: 80px;
}

#logo {
    height: 100%;
}
/* nav */
nav {
    margin-bottom: 20px;
}

.list-line > li {
    display: inline-block;
    list-style: none;
    padding: 10px 10px 10px 0;
}

.list-line li:hover > a {
    /* background-color: hotpink; */
    color: black;
    cursor: pointer;
}

.list-line a {
    font-size: 18px;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
}
/* /nav */

/* jumbotron */
.jumbotron {
    background-image: url(../img/banner.jpg);
    background-size: contain;
    background-position: center;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.transparence {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.jumbo {
    height: 500px;
    color: white;
    padding: 350px 45% 0 50px;
}

#pretium {
    font-size: 25px;
    font-weight: normal;
}

p {
    font-size: 10px;
}
/* jumbotron */

/* /header */

/* main */
main {
    margin-bottom: 10px;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

/* title */
.title {
    margin-bottom: 25px;
}

.title > h2 {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

#sot-lead {
    font-size: 15px;
    color: grey;
}
/* /title */

/* colunms */
.col-left {
    float: left;
    width: 18%;
}

.size {
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 10px;
}

#img1{
    background-image: url(../img/img-1.jpg);
}

.h-img {
    height: 200px;
}

h3 {
    font-size: 10px;
    padding: 10px 0;
}

h3 + p {
    color: grey;
}

.col-center {
    float: left;
    width: 60%;
    margin:0 2%;
}

#img2{
    background-image: url(../img/banner-2.jpg);
}

.col-right {
    float: right;
    width: 18%;
}

#img3{
    background-image: url(../img/img-3.jpg);
}
/* /colunms */
/* /main */

/* footer */
.love {
    font-size: 10px;
    color: black;
    text-align: center;
}
 span {
     color: red;
     font-size: 15px;
 }
/* /footer */